<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head"></head>
<body>
<div th:replace="parts/common :: common"></div>

    <div th:replace="parts/header :: header"></div>
    <div class="container mt-5">
        <div th:replace="parts/newOnMain :: new"></div>
        <div th:if="${not #lists.isEmpty(notes)}">
        <div th:replace="parts/list :: notebook"></div>
    </div>
    <div th:replace="parts/common :: common"></div>
</div>
</body>
</html>