<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head :: head"></head>
<body>

    <div th:replace="parts/header :: header"></div>
    <div class="container width= mt-5">
        <form class="form-horizontal" th:object="${note}" th:action="@{/update}" name="edit_form" id="edit_form"
              method="post" role="form">
            <div class="form-group">
                <input type="hidden" id="id" th:name="id" th:value="*{id}"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" autocomplete="off" id="note" th:name="note" th:value="*{note}" maxlength="100"/>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="done" th:name="done" />
                    <label class="form-check-label" for="done">
                        Done?
                    </label>
                </div>
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

<div th:replace="parts/common :: common"></div>
</body>
</html>