<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
      <!--  <div class="container mt-5">-->
                <a class="navbar-brand" th:href="@{/index}">Diary</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/new}">Add note <span class="sr-only">(current)</span></a>
<!--                <a class="navbar-brand" href="#" th:href="@{/new}">Add note</a>-->
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true" th:inline="text">Вы зашли под именем [[${#httpServletRequest.remoteUser}]]</a>
<!--
                    <input type="submit" value="Sign Out"/>
-->
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sing out</button>
                </form>

            </div>
   <!--     </div>-->
    </nav>
</div>
</html>
