<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<head>
    <title>Registration</title>
<!--    ???????????????-->
<!--    <link rel="stylesheet" href="../static/auth.css" th:href="@{auth.css}" />-->
</head>
<div th:replace="authentication/commonForAuth :: auth"></div>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form th:action="@{/registration}" class="form-horizontal" method="post">
                <span class="heading" style="text-align: center">Registration</span>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username"/>
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group">
                   <input class="form-control" type="password" name="password" placeholder="Password"/>
                    <i class="fa fa-lock"></i>
                </div>
                <div class="form-group" style="text-align: center" th:if="${message}">
                    <div th:text="${message}"></div>
                </div>
                <div class="form-group" style="text-align: center" th:if="${shortUorP}">
                    <div th:text="${shortUorP}"></div>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>